@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');


.cinzel-head {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    max-width: 100%;
    margin: 0;
    padding: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/Royal Collection Trust/1084980-1678103107.jpg");
    background-size: cover; /* Asegura que la imagen ocupe todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header{
    color: white;
    top: 0;
    padding: 10px 16px;
}

h1{
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 3rem;
    margin:0cm;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: auto;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    padding: 20px;
}

/*ESTILOS ELEMENTOS DENTRO DE FIGURE*/
.info-buttons {
    display: flex;
    justify-content: space-between; /* Espacio uniforme entre botones */
    align-items: center; /* Centra los botones verticalmente */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    background-color: #f4f4f4;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
}

.info-button {
    flex-grow: 1; /* Asegura que cada botón ocupe un ancho proporcional */
    text-align: center; /* Centra el texto dentro del botón */
    padding: 10px 0; /* Espaciado interno */
    font-size: 18px; /* Tamaño del texto */
    font-family: 'Georgia', serif; /* Fuente con estilo clásico */
    background-color: #e4e4e4; /* Fondo de los botones */
    color: #333; /* Color del texto */
    border: none; /* Sin bordes */
    border-right: 1px solid #ccc; /* Separador entre botones */
    cursor: pointer; /* Icono de puntero al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Efecto suave de cambio de color */
    text-transform: uppercase;
    padding: 15 px 0;
    margin: 0;
}

.info-button:hover {
    background-color: #0056b3;
}

.info-button:last-child {
    border-right: none;
}

.info-button.active{
    background-color: #a42f25; /* Fondo del botón activo */
    color: white; /* Texto en blanco */
    font-weight: bold; /* Texto en negrita */
}

.info-buttons:hover {
    background-color: #d3d3d3; /* Cambia a un tono más claro al pasar el mouse */
}

#map {
    border: 8px solid #8b4513;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 0; /* Elimina márgenes externos */
    box-sizing: border-box;
    padding: 0;
    width: 100%; 
    height: 85%;
    position: relative;
}

figure p {
    margin: 0;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-style: italic;
    color: #8b4513;
    background: linear-gradient(to bottom, #fdf1e1, #f4e0c6); /* Fondo degradado */
    padding: 10px 20px; /* Espaciado interno */
    border: 2px solid #8b4513; /* Bordes finos */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    position: relative;
    z-index: 10;
}

#pdf-viewer {
    flex-grow: 1; /* Permite que el iframe ocupe el espacio disponible */
    width: 100%; /* Asegura que use todo el ancho */
    height: auto; /* Se ajusta automáticamente */
    border: none; /* Opcional: elimina los bordes */
}

#recuerdos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    overflow: visible;
}
  
#prev-button,
#next-button {
    position: relative;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: red;
    z-index: 9999;
    height: auto;
    width: auto;
}

#prev-button:hover,
#next-button:hover {
    background-color: #ddd;
}

.recuerdo-img {
    max-width: 70%;
    height: 70vh;
    object-fit: contain;
    margin-bottom: 20px;
}